
<div class="query-editor-rows gf-form-group" ng-if="ctrl.datasourceInstance">
	<div ng-repeat="target in ctrl.panel.targets" ng-class="{'gf-form-disabled': target.hide}">
		<rebuild-on-change property="ctrl.panel.datasource || target.datasource" show-null="true">
			<plugin-component type="query-ctrl">
			</plugin-component>
		</rebuild-on-change>
	</div>

	<div class="gf-form-query" ng-if="!['singlestat'].includes(ctrl.panel.type)">
		<div class="gf-form gf-form-query-letter-cell">
			<label class="gf-form-label">
				<span class="gf-form-query-letter-cell-carret">
					<i class="fa fa-caret-down"></i>
				</span>
				<span class="gf-form-query-letter-cell-letter">{{ctrl.panelCtrl.nextRefId}}</span>
			</label>
			<button class="btn btn-secondary gf-form-btn" ng-click="ctrl.addQuery()" ng-hide="ctrl.datasourceInstance.meta.mixed">
				Add Query
			</button>
			<div class="dropdown" ng-if="ctrl.datasourceInstance.meta.mixed">
				<gf-form-dropdown model="ctrl.addQueryDropdown" get-options="ctrl.getOptions(false)" on-change="ctrl.addMixedQuery($option)">
				</gf-form-dropdown>
			</div>
		</div>
	</div>
</div>

<div class="gf-form-group">
  <div class="gf-form-inline">

		<div class="gf-form gf-form--grow">
		</div>
		<div class="gf-form" ng-if="ctrl.queryOptions">
			<a class="gf-form-label" ng-click="ctrl.toggleOptions()">
				<i class="fa fa-fw fa-caret-right" ng-hide="ctrl.optionsOpen"></i><i class="fa fa-fw fa-caret-down" ng-show="ctrl.optionsOpen"></i>Options
			</a>
		</div>
		<div class="gf-form" ng-if="ctrl.hasQueryHelp">
			<button class="gf-form-label" ng-click="ctrl.toggleHelp()">
				<i class="fa fa-fw fa-caret-right" ng-hide="ctrl.helpOpen"></i><i class="fa fa-fw fa-caret-down" ng-show="ctrl.helpOpen"></i>Help
			</button>
		</div>
		<div class="gf-form">
			<button class="gf-form-label" ng-click="ctrl.toggleQueryTroubleshooter()" bs-tooltip="'Display query request & response'">
				<i class="fa fa-fw fa-caret-right" ng-hide="ctrl.queryTroubleshooterOpen"></i><i class="fa fa-fw fa-caret-down" ng-show="ctrl.queryTroubleshooterOpen"></i>Query Inspector
			</button>
		</div>
	</div>

	<!-- Options/Help/Inspector migrated to React (MetricsTabOptions.tsx) -->
	<metrics-tab-options ctrl="ctrl"></metrics-tab-options>
</div>
